---
layout:     default
title:      Home
permalink:  /
navgroup:   "main"
navorder:   1
---
<h3>Recent Posts</h3>
<ul>
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <time class="float--right" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d, %Y' }}</time>
    </li>
    {% endfor %}
</ul>


<h3>Recent Projects</h3>
<ul>
    {% assign projects = site.projects | sort: 'listing-priority' %}
    {% for project in projects %}
    <li>
        <a href="{{ project.url | prepend: site.baseurl }}">{{ project.project-title }}</a>
    </li>
    {% endfor %}
</ul>

