---
layout: default
---
<h3>Home</h3>


<ul>
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <time class="float--right" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d, %Y' }}</time>
    </li>
    {% endfor %}
</ul>


<ul>
    {% assign projects = site.projects | where: "featured", "true" | sort: "featured-priority" %}
    {% for project in projects %}
    <li>
        <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
    </li>
    {% endfor %}
</ul>

