html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    cursor: pointer; }

.icon-fw {
  padding-right: rhythm(0.5)/2;
  padding-left: rhythm(0.5)/2; }

.icon-fw--left {
  padding-right: rhythm(0.5)/2; }

.icon-fw--right {
  padding-left: rhythm(0.5)/2; }

.icon:before {
  font-family: "outlined-iconset";
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-delete:before {
  content: "\e010"; }

.icon-home:before {
  content: "\e02c"; }

.icon-setting-2:before {
  content: "\e05d"; }

.icon-arrow-left:before {
  content: "\e087"; }

.icon-arrow-right:before {
  content: "\e08c"; }

.highlight {
  font-family: 'SourceCodePro', monospace;
  font-weight: 500;
  background: #ffffff; }
  .highlighter-rouge .highlight {
    background: #eeeeff; }
  .highlight .c {
    color: #999988; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .cm {
    color: #999988; }
  .highlight .cp {
    color: #999999; }
  .highlight .c1 {
    color: #999988; }
  .highlight .cs {
    color: #999999; }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
  .highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
  .highlight .gi .x {
    color: #000000;
    background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kt {
    color: #445588; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #dd1144; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #445588; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #990000; }
  .highlight .nf {
    color: #990000; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #dd1144; }
  .highlight .sc {
    color: #dd1144; }
  .highlight .sd {
    color: #dd1144; }
  .highlight .s2 {
    color: #dd1144; }
  .highlight .se {
    color: #dd1144; }
  .highlight .sh {
    color: #dd1144; }
  .highlight .si {
    color: #dd1144; }
  .highlight .sx {
    color: #dd1144; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #dd1144; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #009999; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Thin.woff2") format("woff2"), url("/fonts/WorkSans-Thin.woff") format("woff"), url("/fonts/WorkSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("/fonts/WorkSans-ExtraLight.woff") format("woff"), url("/fonts/WorkSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Light.woff2") format("woff2"), url("/fonts/WorkSans-Light.woff") format("woff"), url("/fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.woff2") format("woff2"), url("/fonts/WorkSans-Regular.woff") format("woff"), url("/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Medium.woff2") format("woff2"), url("/fonts/WorkSans-Medium.woff") format("woff"), url("/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2"), url("/fonts/WorkSans-SemiBold.woff") format("woff"), url("/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Bold.woff2") format("woff2"), url("/fonts/WorkSans-Bold.woff") format("woff"), url("/fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("/fonts/WorkSans-ExtraBold.woff") format("woff"), url("/fonts/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Black.woff2") format("woff2"), url("/fonts/WorkSans-Black.woff") format("woff"), url("/fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/SourceCodePro-Regular.woff2") format("woff2"), url("/fonts/SourceCodePro-Regular.woff") format("woff"), url("/fonts/SourceCodePro-Regular.ttf") format("truetype"), url("/fonts/SourceCodePro-Regular.svg#svgSourceCodePro-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/SourceCodePro-Medium.woff") format("woff"), url("/fonts/SourceCodePro-Medium.ttf") format("truetype"), url("/fonts/SourceCodePro-Medium.svg#svgSourceCodePro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

html {
  font-size: 112.5%; }

body {
  font-family: 'WorkSans', sans-serif;
  font-weight: 500;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.333em; }

.h1 {
  font-size: 3.15733em; }

.h2 {
  font-size: 2.36859em; }

.h3 {
  font-size: 1.77689em; }

.h4 {
  font-size: 1.333em; }

.h5 {
  font-size: 1em; }

.h6 {
  font-size: 0.75019em; }

p, ul, ol {
  margin-bottom: 1.5em; }
