//
//  Icon Font
$icon: (
    "outlined-iconset": (
        (
            "name": "outlined-iconset",
            "formats": ("eot", "woff", "ttf", "svg"),
            "weight": "500"
        ),
    )
);
//
//  Monospaced Font
$mono: (
    "SourceCodePro": (
        (
            "name": "SourceCodePro-Regular",
            "formats": ("eot", "woff2", "woff", "ttf", "svg"),
            "weight": "400"
        ), (
            "name": "SourceCodePro-Medium",
            "formats": ("eot", "woff", "ttf", "svg"),
            "weight": "500"
        ),
    )
);
//
//  Serif Font
$serif: (
    "Merriweather": (
        (
            "name": "Merriweather-Light",
            "formats": ("ttf"),
            "weight": "300"
        ), (
            "name": "Merriweather-LightItalic",
            "formats": ("ttf"),
            "weight": "300",
            "style": "italic"
        ), (
            "name": "Merriweather-Regular",
            "formats": ("ttf"),
            "weight": "400"
        ), (
            "name": "Merriweather-Italic",
            "formats": ("ttf"),
            "weight": "400",
            "style": "italic"
        ), (
            "name": "Merriweather-Bold",
            "formats": ("ttf"),
            "weight": "700"
        ), (
            "name": "Merriweather-BoldItalic",
            "formats": ("ttf"),
            "weight": "700",
            "style": "italic"
        ), (
            "name": "Merriweather-Black",
            "formats": ("ttf"),
            "weight": "900",
        ), (
            "name": "Merriweather-HeavyItalic",
            "formats": ("ttf"),
            "weight": "900",
            "style": "italic"
        ),
    )
);
//
//  Sans Font
$sans: (
    "WorkSans": (
        (
            "name": "WorkSans-Thin",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "100"
        ), (
            "name": "WorkSans-ExtraLight",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "200"
        ), (
            "name": "WorkSans-Light",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "300"
        ), (
            "name": "WorkSans-Regular",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "400"
        ), (
            "name": "WorkSans-Medium",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "500"
        ), (
            "name": "WorkSans-SemiBold",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "600"
        ), (
            "name": "WorkSans-Bold",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "700"
        ), (
            "name": "WorkSans-ExtraBold",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "800"
        ), (
            "name": "WorkSans-Black",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "900"
        ),
    )
);
