@function half($input) {
    $output: $input / 2;
    @return $output;
}

@function third($input) {
    $output: $input / 3;
    @return $output;
}

@function quarter($input) {
    $output: $input / 4;
    @return $output;
}

@function three-fourths($input) {
    $output: $input * 0.75;
    @return $output;
}

@function double($input) {
    $output: $input * 2;
    @return $output;
}

@function negative($input) {
    $output: $input * -1;
    @return $output;
}
