//
//  Var
$highlight__x: 0.5;
$highlighty: rhythm(1);

//
//  Syntax highlighting styles
.highlight {
    font-family: "SourceCodePro", monospace;
    font-weight: 500;

    padding: $highlight__x;
    margin-bottom: rhythm(1);

    color: $s-foreground;
    background-color: $s-background;
}

.language-scss {

    //  Selector
    .nc,
    .nt {
        color: $s-red;
    }

    //  String, Property, Mixin Name
    .p,
    .nd,
    .nl {
        color: $s-light-blue;
    }

    //  Attribute Selector
    .o + .nt,
    .s2 {
        color: $s-green;
    }

    //  Colon following Property
    .nl + .p {
        color: $s-foreground;
    }

    //  Value
    .nb,
    .no,
    .m,
    .mi {
        color: $s-orange;
    }

    //  Function & Mixin
    .k,
    .nf {
        color: $s-purple;
    }

    //  Function Parenthesis
    .nf + .p,
    .nf + .p + .m + .p,
    .nf + .p + .mi + .p {
        color: $s-purple;
    }

    //  Function Parameter
    .nf + .p + .m {
        color: $s-orange;
    }
}
