//
//  Var
$body__color:  $neutral__color;
$link__color:  $primary__color;
//
//  Fonts
@include ff-batch($sans);
@include ff-batch($serif);
@include ff-batch($mono);
//
//  Base
html {
    font-size: ( $global__font-size / 16 ) * 100%;
}
body {
    color: $body__color;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    line-height: $global__line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'WorkSans', sans-serif;
    font-size: $h4__font-size;
}
.h1 {
    font-size: $h1__font-size;
}
.h2 {
    font-size: $h2__font-size;
}
.h3 {
    font-size: $h3__font-size;
}
.h4 {
    font-size: $h4__font-size;
}
.h5 {
    font-size: $h5__font-size;
}
.h6 {
    font-size: $h6__font-size;
}
p, ul, ol {
    margin-bottom: rhythm(1);
}
a {
    color: $link__color;
}
