//
//  http://flatuicolors.com/
$teal:            #1abc9c;
$green:           #2ecc71;
$peter:           #3498db;
$purple:          #9b59b6;
$darkgrey:        #34495e;
$yellow:          #f1c40f;
$orange:          #e67e22;
$red:             #e74c3c;
$lightgrey:       #ecf0f1;
$grey:            #95a5a6;
//
//  Palette
$primary__color:  $peter;
$neutral__color:  $darkgrey;

