//
//  Units
$grid__x:       $global__x;
$grid__y:       $global__y;
$grid__gutter:  $global__gutter;
//
//  Base
.wrapper {
    @include clearfix;
    @include column($grid__gutter);

    box-sizing: border-box;
    max-width: 38em;
    margin: 0 auto;
}
