//
//  Units
$nav__x: rhythm(0.5);
$nav__y: rhythm(0.5);
//
//  Base
.nav {
    font-family: 'WorkSans', sans-serif;

    margin: 0 negative($nav__x);

    @include clearfix;
}

.nav__group--right {
    float: right;
}

.nav__item {
    display: block;
    float: left;

    padding: $nav__y $nav__x;
}

.nav__item--active {
    opacity: 0.5;
}
